  .about {
  width: 100%;
  display: flex;
  // grid-template-columns: 1fr 1fr;
  // grid-gap: 50px;
  flex-direction: row;
  justify-content: space-between;
  // margin: 20px;
  // padding: 20px;
  }

.content {
  // margin-top: 10px;
  font-size: 18px;
  width: 100%;
  margin-left: 20px;
  padding: 40px;
  // background

}

.workshop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  // margin-bottom: 100px;
  width: 100%;
  padding: 20px;
  margin-right: 20px;
  p {
    font-size: 18px;
  }
}

@media (min-width: 100px) and (max-width: 991px) {
  .ian-homepage {
    text-align: center;
    h1 {
      font-size: 32px !important;
    }
    h2 {
      font-size: 20px !important;
    }
    img {
      width: 100% !important;
      margin-bottom: 2rem;
    }
  }

  .about {
    display: flex;
    flex-direction: column;
  }
  .content {
    font-size: 14px;
    order: 2;
    padding: 0px;
  }
  .workshop {
    order: 1;
    p {
      font-size: 12px;
    }
  }

}


