.contact {
  width: 100%;
  margin: 0 auto;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-evenly;
  align-items: center;
}

.info {
  background: transparent;
  color: white;
  font-size: 32px;
  padding: 20px;
  line-height: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.info h2 {
  font-size: 32px;
  font-weight: bold;
}

.address {
  margin-top: 20px;
  // width: 100%;
  text-align: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  // text-align: center;
}

a {
  text-decoration: none;
  color: white;
  opacity: 0.9;
  padding: 5px;
}

a:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}

.map {
  margin-top: 20px;
  align-items: center;
  text-align: center;
}

.map-size {
  // width: 80%;
  border: 2px solid white;
  justify-content: center;
}

.email {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

.phone {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

i {
  padding: 8px;
}



// button {
//   background: transparent;
//   opacity: 0.9;
//   position: relative;
//   top: 20px;
// }

.button {
  // width: 80%;
  display: inline-block;
  font-size: 24px;
  text-align: center;
  background: #8D2828;
  opacity: 0.9;
  color: #fff;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.button:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, 10px) scale(1.2);
          transform: translate(0px, 10px) scale(1.2);
}

@media (min-width: 100px) and (max-width: 991px) {
  .contact {
    display: flex;
    flex-direction: column;
  }

  .map {
    width: 80%;
  }

  .map-size {
  // margin-top: 60px;
  width: 100%;
  align-items: center;
}

.info {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

}

