.fashion {
  background-color: black;
  overflow: hidden;
}

.fashion-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
}

@media (max-width: 575px) {
  .fashion-container {
    height: calc(100vh - 60px);
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .fashion-container {
    height: calc(100vh - 70px);
  }
}
