// Specific CSS for your home-page
body, html {
  height: 100%;
  color: white;
  /* The image used */
  background: url("https://res.cloudinary.com/dv1d9t9wu/image/upload/v1628772115/Souvenir/home_page_bhdfgu.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}
