.theatre-container {
  background-image: none !important;
  background-color: black !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theatre {
  background-image: none !important;
  background-color: black !important;
}
