<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/souvenirscenicstudios/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/souvenirscenicstudiosltd/" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
<!--   <div class="footer-links email">
    <a href="mailto:info@souvenir.co.uk"><p>info@souvenir.co.uk</p></a>
  </div> -->
</div>
