<div class="about-container container">
  <div class="content">
    <p>Souvenir Scenic Studios is one of London’s foremost scenery builders and specialist prop-makers. Established in 1988 by Simon Kenny, it has earned considerable recognition, not only for traditional fine-painted scenery but also for spectacular coups de theatre and bespoke sculptural pieces. Working on major West End productions, including recent musicals ‘Wizard of Oz’, ‘Love Never Dies’ and ‘Betty Blue Eyes’, as well as dramas such as ‘Private Lives’, ‘The Misanthrope’, ‘La Bete’ and ‘Deathtrap’ in the last year, Souvenir is at the forefront of London theatre and has also been an integral part of several Broadway transfers. The company has extensive experience in ballet production, working with Matthew Bourne’s New Adventures in Motion Pictures and the Royal Ballet, and in opera too both at Covent Garden and at the ENO.</p>
    <p>Souvenir’s specialist expertise and high-quality craftsmanship in realising design has indeed made it the first port of call for many artists and designers. Artichoke, the company behind the stunning Sultanâ’s Elephant, turned to Souvenir for their intriguing 2009 installation, the Telectroscope. Designer Paul St. George’s original concept of two Victorian-styled tubular optical instruments, placed in New York and London, was brought to life by Souvenir and the Telectroscope, allowing people in both cities to communicate, became a major attraction in both cities.</p>
    <p>The last decade has seen Souvenir increasingly in demand in the world of fashion. The company developed a highly successful working relationship with Alexander McQueen as well as other prominent clients including Stella McCartney, Burberry, Christian Dior, YSL, Louis Vuitton and Top Shop. Working behind the scenes in the UK, France, Italy and Japan, Souvenir has been responsible for some of the most talked-about productions in recent years; the Fuzzy Felt backdrop for Stella McCartney’s 2008 Paris show, designed by Jake and Dinos Chapman, the crazy golf course for her London show the same year and the Kate Moss Pepper’s Ghost for Alexander McQueen in 2006. There, using a 19th century optical device, the supermodel’s ethereal image was projected onto a glass pyramid, setting the tone for a show described by a leading fashion editor as ‘unbridled spectacle’.</p>
  </div>

  <div class="workshop">
    <h1>Made in London</h1>
      <div id="carouselExampleControls" class="carousel slide workshop-carousel" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "fashion/amq_rocks.jpg", class: "d-block w-100", alt: "Second slide" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "fashion/amq_ss20.jpg", class: "d-block w-100", alt: "Third slide" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "fashion/hunter.jpg", class: "d-block w-100", alt: "Third slide" %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </div>
</div>
