%link{rel: "canonical", href: "https://www.souvenir.co.uk/contact"}

.contact
  .contact-card
    %h1 Get in Touch
    .contact-details
      .address
        %h2 Souvenir Scenic Studios Ltd
        %p Unit 60, T Marchant Estate
        %p 46-72 Verney Road
        %p London, SE16 3DH
      .contact-info
        %a.contact-link{href: "tel:02072377557"}
          %i.fas.fa-phone-alt
          %span +44 (0)207 237 7557
        %a.contact-link{href: "mailto:info@souvenir.co.uk"}
          %i.far.fa-envelope
          %span info@souvenir.co.uk
  .map
    %iframe.map-size{src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4968.992502615609!2d-0.06397506636500853!3d51.48576027963163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876031043dc2f07%3A0x9880cfa1a6e9c141!2sSouvenir%20Scenic%20Studios!5e0!3m2!1sen!2suk!4v1627483956903!5m2!1sen!2suk", allowfullscreen: "", loading: "lazy"}
