%link{rel: "canonical", href: "https://www.souvenir.co.uk/fashion"}

.fashion
  .fashion-container
    .show-carousel.swiper
      .swiper-wrapper
        - @shows.each do |show|
          .swiper-slide
            = image_tag show.image_url, alt: show.name
            .slide-caption= show.name
      .swiper-button-prev
      .swiper-button-next
