<div class="fashion-container">
  <div id="carouselExampleControls" class="carousel slide fashion-carousel" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "fashion/amq_aw18.jpg", class: "d-block w-100", alt: "First slide" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "fashion/amq_rocks.jpg", class: "d-block w-100", alt: "Second slide" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "fashion/amq_ss20.jpg", class: "d-block w-100", alt: "Third slide" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "fashion/hunter_1.jpg", class: "d-block w-100", alt: "Third slide" %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
