<link rel="canonical" href="https://www.souvenir.co.uk"/>

<div class="ian-homepage">
  <%= image_tag "https://res.cloudinary.com/dv1d9t9wu/image/upload/e_grayscale/v1661678284/Souvenir/ian_homepage_2_qb482j.jpg" %>
  <h1> Ian Ramshaw </h1>
  <h2> 29/8/1964 - 18/8/2022 </h2>
</div>

