%link{rel: "canonical", href: "https://www.souvenir.co.uk/jobs"}

.jobs{style: "background-color:rgba(0, 0, 0, 0.4);"}
  .job-panels
    %h1 Job Opportunities
    .description
      %h3 We currently do not have any job vacancies, but will post updates to this page when we do.
      -# %h3
      -#   Click on the full-time roles below for more information, or to find out about any freelance
      -#   opportunities you can also send a copy of your CV to us
      -#   %a.email{href: "mailto:info@souvenir.co.uk"}
      -#     %u here.
    -#
      .panel-group#myaccordian
        .panel
          .panel-heading
            %h2.panel-title{"data-target" => "#panel-1", "data-toggle" => "collapse"} Scenic Lead
          .panel-collapse.collapse#panel-1
            .panel-body
              %p This is a full-time on-site role for a Scenic Lead to join our Bermondsey workshop.
              %p The Scenic Lead will be responsible for overseeing the creation of scenic elements for various productions.
              %p They will work closely with the creative team to bring artistic visions to life through scenic painting.
              %p We are looking for a Scenic Lead with the following:
              %ul.job-spec
                %li Minimum of 3 year's experience.
                %li Scenic Design, Sculpture, and Fine Art skills.
                %li Experience in theatrical set construction and painting.
                %li Knowledge of painting techniques.
                %li Ability to interpret artworks/references and bring them to fruition.
                %li Attention to detail and creativity in scenic design.
                %li Strong organisational and time management skills.
              %br
              %p Based in busy workshop, fabricating and constructing for worldwide theatre productions, fashion shows and events.
              %a.apply-button.btn-light{href: "mailto:info@souvenir.co.uk?subject=Job Application: Scenic Artist"} Apply
        .panel
          .panel-heading
            %h3.panel-title{"data-target" => "#panel-3", "data-toggle" => "collapse"} Experienced Bench Carpenters
          .panel-collapse.collapse#panel-3
            .panel-body
              %p We are looking for experienced carpenters to join our busy Bermondsey workshop, specialising in traditional timber construction with the following:
              %ul.job-spec
                %li Minimum of 3 years experience, must be able to work from CAD drawings.
                %li Weekend work and some travel abroad required.
                %li Self-employed and employed opportunities.
                %li Very good rates + overtime available.
              %br
              %a.apply-button.btn-light{href: "mailto:info@souvenir.co.uk?subject=Job Application: CAD/Drawing Technician"} Apply
        .panel
          .panel-heading
            %h3.panel-title{"data-target" => "#panel-2", "data-toggle" => "collapse"} Metal Worker / Fabricator
          .panel-collapse.collapse#panel-2
            .panel-body
              %p We are looking for an experienced Metalworker required for our Bermondsey scenery workshop, specialising in M.I.G welding in mild steel and aluminium with the following:
              %ul.job-spec
                %li Excellent fabrication skills required and experience in machining / mechanical knowledge would be an advantage.
                %li Minimum of 3 years experience and must be able to work from CAD drawings.
                %li Ability to work closely with the Head of Fabrication and small team as well as other departments to liaise on materials, schedules and construction techniques.
                %li Good knowledge of the safe use of tools and equipment, adhering to health and safety guidelines.
                %li Weekend work and some travel abroad required.
                %li Self-employed and employed opportunities.
                %li Very good rates + overtime available.
              %br
              %p Based in busy workshop, fabricating and constructing for worldwide theatre productions, fashion shows and events
              %a.apply-button.btn-light{href: "mailto:info@souvenir.co.uk?subject=Job Application: Metal Worker/Fabricator"} Apply
  .olympic-tree
    %img.newspaper{src: "https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629713216/Souvenir/olympic_tree_etifvm.jpg", alt: "Olympic Tree"}
    %h4.caption Tree made for Olympic opening ceremony, London 2012
