<div class="jobs" style="background-color:rgba(0, 0, 0, 0.4);">
  <div class="job-panels">
    <h1>Job Opportunities</h1>
    <div class="description">
      <h3>To apply for one of the full-time roles listed below, or to find out about any freelance opportunities, please send a copy of your CV to<a class="email" href="mailto:info@souvenir.co.uk">info@souvenir.co.uk</a></h3>
    </div>
    <div class="panel-group" id="myaccordian">
      <div class="panel">
        <div class="panel-heading">
          <h2 class="panel-title" data-target="#panel-1" data-toggle="collapse">Scenic Artist</h2>
        </div>
        <div class="panel-collapse collapse" id="panel-1">
          <div class="panel-body">
            <p>We are looking for a Scenic Artist for our Bermondsey scenery workshop with the following:</p>
            <ul>
              <li>Excellent attention to detail and able to work in a team with other departments, liaising on materials, schedules and construction techniques etc.</li>
              <li>Minimum of 3 years’ experience of working in a similar environment.</li>
              <li>Based in busy paintshop, with other scenic artists to produce high quality painted scenery for theatre productions, fashion shows and events.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title" data-target="#panel-2" data-toggle="collapse">Metal Worker / Fabricator</h3>
        </div>
        <div class="panel-collapse collapse" id="panel-2">
          <div class="panel-body">
            <p>We are looking for an experienced Metalworker required for our Bermondsey scenery workshop, specialising in M.I.G welding in Mild Steel and Aluminium with the following:</li>
            <ul>
              <li>Excellent fabrication skills required and experience in machining / mechanical knowledge would be an advantage.</li>
              <li>Minimum of 3 years’ experience and must be able to work from CAD drawings.</li>
              <li>Will work closely with the Head of Fabrication and small team as well as other departments to liaise on materials, schedules and construction techniques.</li>
              <li>Assist in the maintenance and safe use of tools and equipment, adhering to health and safety guidelines.</li>
              <li>Based in busy workshop, fabricating and constructing for worldwide theatre productions, fashion shows and events</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title" data-target="#panel-3" data-toggle="collapse">CAD / Drawing Technician</h3>
        </div>
        <div class="panel-collapse collapse" id="panel-3">
          <div class="panel-body">
            <p>We are looking for an experienced Scenic Draughtsperson to prepare and update scenic construction drawings in order to assist in the production of scenery for our Bermondsey studio with the following:</p>
            <ul>
              <li>Experience in the use of AutoCAD 2D and 3D for structural drawings within a built environment.</li>
              <li>Ability to produce detailed specification and construction drawings of scenic elements, using AutoCAD, Photoshop and/or manual drawing skills as appropriate.</li>
              <li>Minimum of 3 years’ experience experience in construction draughting. A detailed understanding of theatre structural engineering, metalwork, carpentry and scenic construction is a bonus.</li>
              <li>You will be required to produce technical specifications for scenic elements, research special materials / construction methods and order items as required.</li>
              <li>Able to work as part of a team and the ability to work to own initiative.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="olympic-tree">
    <img class="newspaper" src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1628774255/Souvenir/olympic_tree_yjvooc.jpg" alt="Olympic Tree">
    <h4 class="caption">Tree from Olympic opening ceremony, London 2012</h4>
  </div>
</div>


