<link rel="canonical" href="https://www.souvenir.co.uk/jobs"/>

<div class="jobs" style="background-color:rgba(0, 0, 0, 0.4);">
  <div class="job-panels">
    <h1>Job Opportunities</h1>
    <div class="description">
      <%# <h3> We currently do not have any job vacancies, but will post updates to this page when we do. </h3> %>
      <h3>Click on the full-time roles below for more information, or to find out about any freelance opportunities you can also send a copy of your CV to us<a class="email" href="mailto:info@souvenir.co.uk"><u>here.</u></a></h3>
    </div>
    <div class="panel-group" id="myaccordian">
      <%# <div class="panel">
        <div class="panel-heading">
          <h2 class="panel-title" data-target="#panel-1" data-toggle="collapse">Scenic Artist</h2>
        </div>
        <div class="panel-collapse collapse" id="panel-1">
          <div class="panel-body">
            <p>We are looking for a Scenic Artist for our Bermondsey scenery workshop with the following:</p>
            <ul class="job-spec">
              <li>Excellent attention to detail and able to work in a team with other departments, liaising on materials, schedules and construction techniques etc.</li>
              <li>Minimum of 3 years experience of working in a similar environment.</li>
            </ul>
            <br>
            <p>Based in a busy paintshop, with other scenic artists to produce high quality painted scenery for theatre productions, fashion shows and events.</p>
            <a class="apply-button btn-light" href="mailto:info@souvenir.co.uk?subject=Job Application: Scenic Artist">Apply</a>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title" data-target="#panel-2" data-toggle="collapse">Metal Worker / Fabricator</h3>
        </div>
        <div class="panel-collapse collapse" id="panel-2">
          <div class="panel-body">
            <p>We are looking for an experienced Metalworker required for our Bermondsey scenery workshop, specialising in M.I.G welding in mild steel and aluminium with the following:</li>
            <ul class="job-spec">
              <li>Excellent fabrication skills required and experience in machining / mechanical knowledge would be an advantage.</li>
              <li>Minimum of 3 years experience and must be able to work from CAD drawings.</li>
              <li>Ability to work closely with the Head of Fabrication and small team as well as other departments to liaise on materials, schedules and construction techniques.</li>
              <li>Good knowledge of the safe use of tools and equipment, adhering to health and safety guidelines.</li>
            </ul>
            <br>
            <p>Based in busy workshop, fabricating and constructing for worldwide theatre productions, fashion shows and events</p>
            <a class="apply-button btn-light" href="mailto:info@souvenir.co.uk?subject=Job Application: Metal Worker/Fabricator">Apply</a>
          </div>
        </div>
      </div> %>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title" data-target="#panel-3" data-toggle="collapse">Experienced Bench Carpenters</h3>
        </div>
        <div class="panel-collapse collapse" id="panel-3">
          <div class="panel-body">
            <p>We are looking for experienced carpenters to join our busy Bermondsey workshop. </p>
            <ul class="job-spec">
              <li>Minimum of 3 years experience, must be able to work from CAD drawings.</li>
              <li>Specialising in traditional timber construction for fashion shows and worldwide theatre.</li>
              <li>Weekend work and some travel abroad required.</li>
              <li>Self-employed and employed opportunities.</li>
              <li>Very good rates + overtime available.</li>
            </ul>
            <br>
            <a class="apply-button btn-light" href="mailto:info@souvenir.co.uk?subject=Job Application: CAD/Drawing Technician">Apply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="olympic-tree">
    <img class="newspaper" src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1629713216/Souvenir/olympic_tree_etifvm.jpg" alt="Olympic Tree">
    <h4 class="caption">Tree made for Olympic opening ceremony, London 2012</h4>
  </div>
</div>


