<div class="jobs" style="background-color:rgba(0, 0, 0, 0.5);">
  <div class="job-panels">
    <h1>Job Opportunities</h1>
    <div class="description">
      <h3>To apply for one of the full-time roles listed below, or to find out about any freelance opportunities, please send a copy of your CV to<a class="email" href="mailto:info@souvenir.co.uk">info@souvenir.co.uk</a></h3>
    </div>
    <div class="panel-group" id="myaccordian">
      <div class="panel">
        <div class="panel-heading">
          <h2 class="panel-title" data-target="#panel-1" data-toggle="collapse">Scenic Artist</h2>
        </div>
        <div class="panel-collapse collapse" id="panel-1">
          <div class="panel-body">
            <p>We are looking for a Scenic Artist for our Bermondsey scenery workshop with the following:</p>
            <p>Excellent attention to detail and able to work in a team with other departments, liaising on materials, schedules and construction techniques etc.</p>
            <p>Minimum of 3 years’ experience of working in a similar environment.
            <p>Based in our premises in Zone 2 with other scenic artists to produce high quality painted scenery for theatre.</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title" data-target="#panel-2" data-toggle="collapse">Metal Worker / Fabricator</h3>
        </div>
        <div class="panel-collapse collapse" id="panel-2">
          <div class="panel-body">
            <p>We are looking for an experienced Metalworker required for our Bermondsey scenery workshop, specialising in M.I.G welding in Mild Steel and Aluminium</p>
            <p>Excellent fabrication skills required. Experience in machining and mechanical knowledge would be an advantage.</p>
            <p>Minimum of 3 years’ experience and must be able to work from CAD drawings.</p>
            <p>Will work closely with the Head of Fabrication and small team as well as other departments to liaise on materials, schedules and construction techniques.</p>
            <p> Assist in the maintenance and safe use of tools and equipment, adhering to health and safety guidelines.</p>
            <p>Based in busy workshop in Zone 2, fabrication and construction for worldwide theatre productions, fashion shows and events</p>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title" data-target="#panel-3" data-toggle="collapse">Graphics Position</h3>
        </div>
        <div class="panel-collapse collapse" id="panel-3">
          <div class="panel-body">
            <p>3D / CAD / Digital</p>
            <p>Interpreting designer's drawings</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="olympic-tree">
    <img class="newspaper" src="https://res.cloudinary.com/dv1d9t9wu/image/upload/v1628774255/Souvenir/olympic_tree_yjvooc.jpg" alt="Olympic Tree">
    <h4 class="caption">Tree from Olympic opening ceremony, London 2012</h4>
  </div>
</div>


