<div class="jobs-container container" >
  <h1>Job Openings</h1>
  <div class="panel-group" id="myaccordian">
    <div class="panel">
      <div class="panel-heading">
        <h2 class="panel-title" data-target="#panel-1" data-toggle="collapse">Scenic Artist</h2>
      </div>
      <div class="panel-collapse collapse" id="panel-1">
        <div class="panel-body">
          <p>We are looking for an enthusiastic Scenic Artist for our Bermondsey scenery workshop with the following:</p>
          <p>Good knowledge of scenic painting techniques and able to use a broad range of materials.</p>
          <p>Excellent attention to detail and able to work in a team with other departments, liaising on materials, schedules and construction techniques etc.</p>
          <p>Minimum of 3 years’ experience of working in a similar environment.
          <p>Based in our premises in Zone 2 with other scenic artists to produce high quality painted scenery for Theatre.</p>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title" data-target="#panel-2" data-toggle="collapse">Welder</h3>
      </div>
      <div class="panel-collapse collapse" id="panel-2">
        <div class="panel-body">
          <p>We are looking for an experienced Metalworker required for our Bermondsey scenery workshop, specialising in M.I.G welding in Mild Steel and Aluminium</p>
          <p>Excellent fabrication skills required. Experience in machining and mechanical knowledge would be an advantage.</p>
          <p>Minimum of 3 years’ experience and must be able to work from CAD drawings.</p>
          <p>Will work closely with the Head of Fabrication and small team as well as other departments to liaise on materials, schedules and construction techniques.</p>
          <p> Assist in the maintenance and safe use of tools and equipment, adhering to health and safety guidelines.</p>
          <p>Based in busy workshop in Zone 2, fabrication and construction for worldwide theatre productions, fashion shows and events</p>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title" data-target="#panel-3" data-toggle="collapse">Graphics Position</h3>
      </div>
      <div class="panel-collapse collapse" id="panel-3">
        <div class="panel-body">
          <p>3D / CAD / Digital</p>
          <p>Interpreting designer's drawings</p>
        </div>
      </div>
    </div>
  </div>
  <div class="description">
    <h3>To apply for any of the full-time roles listed above, or to find out about any freelance opportunities, please send a copy of your CV to info@souvenir.co.uk</h3>
  </div>
</div>
