.carousel {
  position: absolute;
  top: 0;
  width: 100%;
  // padding: 40px;
  // border: 1px solid white;
}

// .carousel-inner .carousel-item img {
//   height: 80%;
//   object-fit:cover;
// }

// .carousel-item img {
//     position: absolute;
//     object-fit:cover;
//     top: 0;
//     left: 0;
//     min-height: 500px;
// }
