nav {
  background-color: black !important;
  display: flex;
  align-items: center;
  gap: 30px;
  position: sticky;
  top: 0;
  z-index: 9;
  padding: 8px 20px;
  color: white;

  a {
    text-decoration: none;
    color: white;
    opacity: 0.9;

    &:hover {
      color: white;
      opacity: 1;
      text-decoration: none;
    }
  }

  img {
    width: 100px;
  }
}

#inner {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 40px;

  li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }
}

.socials {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 24px;
  margin-left: auto;
}

@media (min-width: 576px) and (max-width: 991px) {
  nav {
    padding: 8px 15px;

    img {
      width: 70px;
    }
  }

  #inner {
    gap: 20px;

    li a {
      font-size: 16px;
    }
  }

  .socials {
    font-size: 18px;
    gap: 12px;
  }
}

@media (max-width: 575px) {
  nav {
    padding: 8px 10px;

    img {
      width: 60px;
    }
  }

  #inner {
    gap: 12px;

    li a {
      font-size: 12px;
    }
  }

  .socials {
    font-size: 14px;
    gap: 8px;
  }
}
