.navbar-lewagon {
  justify-content: space-between;
  background: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-item a {
  color: white;
  opacity: 0.9;
}

.nav-item a:hover {
  color: white;
  opacity: 1;
}

.fab {
  color: white;
  opacity: 0.9;
}

.fab:hover {
  color: white;
  opacity: 1;
}

.dropdown img {
  width: 60px;
}
